# Dependencies
node_modules/

# Production build
dist/
dist-ssr/
build/
*.local

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
